
<!-- custom-head.html -->
<link rel="shortcut icon" type="image/x-icon" href="{{site.baseurl}}{{site.favicon}}">

<!-- opengraph -->
<meta property="og:type" content="website" />
<meta property="og:image" content="{{site.baseurl}}{{site.logo}}" />
<meta property="og:image:width" content="190" />
<meta property="og:image:height" content="190" />

<!-- twitter -->
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:description" content="Research software web show" />
<meta name="twitter:title" content="{{ page.title | default: site.title }}" />
<meta name="twitter:image" content="{{site.baseurl}}{{site.logo-twitter}}" />
<!--<meta name="twitter:site" content="@__radovan" />-->
<!--<meta name="twitter:creator" content="@__radovan" />-->

<!-- end custom-head.html -->
